.menucontainer {
  background: rgba(255, 5, 5, 0);
  height: 100px;
  width: 100px;
 
    position:absolute;
    z-index: 2;

}

#popout-menu{
    height: 100vh;
    width: 250px;
    background: rgb(81, 172, 137);
    top: 0;
    left: 0;
    transition: transform .3s
    cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
   
}
#popout-menu.hide {
    transform: translate3d(-100vw, 0, 0);
  }
   
  #popout-menu.show {
    transform: translate3d(t0vw, 0, 0);
    overflow: hidden;
  }
   
  #popout-menu h2 a {
    background: rgb(73, 73, 73);
    margin-left: 15px;
    text-decoration: none;
  }
   
  #popout-menu h2 a:hover {
    text-decoration: underline;
  }