.usersview {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #F1E3E4, #5A5A5A, rgb(4, 2, 36));
    padding-top: 75px;
    padding-left: 15px;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 1;
}
.users-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    align-items: center;
}

.tenant-container {
    width: 800px;
    height: 320px;
    font-size: 1.75em;
    background: rgba(143, 184, 218, 0.747);
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 25px;
    box-shadow: 2px 2px 15px #414141;
}

.tenant-container button {
    max-width: 200px;
    align-self: center;
   
}

.field_container {
    display: flex;
    width: 80%;
    margin: 4px 20px;
}

.field_label {
    margin-right: 6px;
    min-width: 160px;
}

.field_value {
    flex-grow: 1;
    background: white;
    border: 1px solid;
    padding: 4px 8px;
    border-radius: 15px;
}

.CNT_button {
    color: black;
    background: white;
    border:1px ;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    font-size: 15px;
}

.CNT_button:hover{
    background-color: rgb(60, 175, 64); /* Green */

}

.reset-password-button {
    width: 70%;
    height: 45px;
    margin: 5px;
    border-radius: 15px;
    border: none;
    font-size: initial;
    background: white; 
}

.reset-password-button:hover {
    background-color: rgb(60, 175, 64); /* Green */
}

.userupdatebutton {
    width: 25%;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    font-size: initial;
    background: white; 
}

.user-button:hover {
    background-color: rgb(60, 175, 64); /* Green */
}

@media only screen and (max-width: 885px) {
    .userupdatebutton {
    height: 15px;
     font-size: .75em; 
    }
    .users {
        height: 85%;
        width: 85%;
        background: linear-gradient(to bottom, #F1E3E4, #5A5A5A, rgb(4, 2, 36));
        display: flex;
        overflow: scroll;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
}
    .tenant-container {
        height: 600px;
        width: 80%;
        font-size: 1em;
        overflow: scroll;
       
  }
  .field_label {
    
    min-width: 100px;
}
.reset-password-button {
  height: 25px;
}

.CNT_button {
    height: 75px;
}
}