.one-tenant {
    height: 30px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}  

.tenant-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.note-container{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}