.tenantHomePage {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #F1E3E4, #5A5A5A, rgb(2,0,36));
    font-size: 3em;
    text-align: center;
    padding: 25px;
}

@media only screen and (max-width: 425px) {
    .tenantHomePage {
        font-size: 1.5em;
    }
}