.tenantcreatenewcontainer {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #F1E3E4, #5A5A5A, rgb(4, 2, 36));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    position: absolute;
    z-index: 1;
    padding-top: 65px;
 
}
.createnewbuttoncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.createnewselect {
    justify-content: center;
    font-size: 1.25em;

    
}

.tenantcreatecontainer {
    height: 300px;
    width: 80%;
    background: rgba(143, 184, 218, 0.747);
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #414141;
}

.createnewinput {
    height: 25%;
    width: 75%;    
    font-size: 1.5em;
    
}

.tenantcreatesubmitbutton {
    width: 70%;
    height: 35px;
    margin: 5px;
    border-radius: 15px;
    font-size: 1.5em;
    background: white;
}

.tenantcreatesubmitbutton:hover {
    background-color: rgb(60, 175, 64); /* Green */
    transition: all 0.3s ease;
    border: none;
}

.tenantcreatecancelbutton {
    width: 70%;
    height: 35px;
    margin: 5px;
    border-radius: 15px;
    font-size: 1.5em;
    background: white;
}

.tenantcreatecancelbutton:hover {
    background-color: rgb(203, 39, 20); /* Red */
    transition: all 0.3s ease;
    border: none;
}

@media only screen and (max-width: 425px) {
    .createcontainer {
        height: 400px;
    }
}